# Deployer private key (without 0x prefix)
PRIVATE_KEY=0x7635be9343eb190e1b3de89b9492a9e730bc3751603623a1cadcc0af882ba415

# 0G Testnet RPC (default is public endpoint)
ZERO_G_RPC=https://hub.0g.ai/faucet?network=testnet

# Set to "true" to enable gas reporting
REPORT_GAS=false
